@model IEnumerable<EntityFrameworkCore.Models.ViewModels.BooksIndexViewModel>
@inject EntityFrameworkCore.Classes.ConvertDate ConvertDate
@{
	ViewData["Title"] = "AdvancedSearch";
	Layout = "~/Views/_Admin.cshtml";
}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header bg-light">
				نتایج جستجوی پیشرفته
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>ردیف</th>
								<th>عنوان</th>
								<th>نویسندگان</th>
								<th>شابک</th>
								<th>تعداد</th>
								<th>ناشر</th>
								<th class="text-center">قیمت</th>
								<th class="text-center">تاریخ انتشار در سایت</th>
								<th style="width:25px;">وضعیت</th>
								<th>عملیات</th>
							</tr>
						</thead>
						<tbody>
							@{
								int i = ViewBag.NumOfRow;
							}
							@foreach (var item in Model as List<EntityFrameworkCore.Models.ViewModels.BooksIndexViewModel>)
							{
								<tr>
									<td class="text-center">@i</td>
									<td class="text-nowrap">@item.Title</td>
									<td class="text-nowrap">@item.Author</td>
									<td>@item.ISBN</td>
									<td>@item.Stock</td>
									<td>@item.PublisherName</td>
									<td class="text-center">@item.Price</td>
									<td class="text-center">
										@if (item.PublishDate.HasValue)
										{
											@ConvertDate.ConvertMiladiToShamsi((DateTime)item.PublishDate, "yyyy/MM/dd")
										}
										else
										{
											<span>-</span>
										}
									</td>
									<td class="text-center">
										@if (item.IsPublish == true)
										{
											<label class="badge badge-success btn-block">منتشر شده</label>

										}
										else
										{
											<label class="badge badge-primary btn-block">پیش نویس</label>
										}
									</td>
									<td class="text-center">
										<a class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>
										<a class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>
										<a class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
									</td>
								</tr>
								i++;
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


